table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}